body {
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif; 
    margin: 0; 
}


.container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
}


h1 {
    color: #333333; 
    text-align: center; 
    font-size: 48px; 
}


nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}


nav a {
    color: #333333; 
    text-decoration: none; 
    font-size: 24px; 
    padding: 10px; 
}


nav a:hover {
    color: #ffffff; 
    background-color: #333333; 
}


.section {
    margin-top: 40px; 
}


h2 {
    color: #333333; 
    font-size: 36px; 
}


.anime {
    display: flex; 
}


.anime img {
    width: 300px; 
    height: 400px; 
    object-fit: cover; 
}


.anime div {
    margin-left: 20px; 
}


.anime p {
    color: #333333; 
    font-size: 18px; 
}