body {
  font-family: 'Vibur', cursive;
  color: rgb(3, 182, 12);
  margin: 0;
  padding: 0;
}


#header {
  text-align: center;
  padding: 20px;
}


h1 {
  font-size: 50px;
  text-shadow: 0 0 5px #188503, 0 0 10px #010500, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de, 0 0 55px #ff00de, 0 0 75px #ff00de;
}


nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


nav a {
  display: block;
  width: 200px;
  height: 100px;
  margin: 10px;
  border-radius: 10px;
  background-color: #ff00de;
  color: #188503;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  line-height: 100px;
}


nav a:hover {
  background-color: white;
  color: #ff00de;
}


h2 {
  font-size: 40px;
}


h3 {
  font-size: 30px;
}


#footer {
  background-color: black;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}